<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="container-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{bubi.data.overview}"></h3>
                <p th:text="#{bubi.data.overview.short}"></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{is.active}">Aktiv?</th>
                        <th th:text="#{bubi.vendor.id}">Lieferanten-ID</th>
                        <th th:text="#{bubi.vendor.account}">Lieferantenkonto</th>
                        <th th:text="#{bubi.name}">Name</th>
                        <th th:text="#{bubi.name.short}">Kurzname</th>
                        <th th:text="#{bubi.standard.price.monograph}">Standardpreis Monographie</th>
                        <th th:text="#{bubi.standard.price.journal}">Standardpreis Zeitschrift</th>
                        <th th:text="#{campus}">Campus</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bubiData : ${bubiDataList}">
                        <td th:if="*{bubiData.active}">
                            <span th:text="#{active}"></span>
                        </td>
                        <td th:unless="*{bubiData.active}">
                            <span th:text="#{inactive}"></span>
                        </td>
                        <td th:text="*{bubiData.vendorId}"></td>
                        <td th:text="*{bubiData.vendorAccount}"></td>
                        <td th:text="*{bubiData.name}"></td>
                        <td th:text="*{bubiData.shortName}"></td>
                        <td th:text="*{bubiData.standardPriceMonograph}"></td>
                        <td th:text="*{bubiData.standardPriceJournal}"></td>
                        <td th:text="*{bubiData.campus}"></td>
                        <td>
                            <a th:href="@{/alma/bubi/bubiData/edit(vendorId=*{bubiData.vendorId}, vendorAccount=*{bubiData.vendorAccount})}"><button class="btn btn-warning" th:text="#{edit}"></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <a th:href="@{/alma/bubi/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>