<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron"/>

<div class="container">
    <div class="ui-g">

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile centered">
                <h2 th:text="#{address.request.results}"></h2>
                <table class="table table-striped text-left">
                    <tr>
                        <th th:text="#{firstname}">
                            firstname
                        </th>
                        <td th:text="${address.firstname}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{surname}">
                            surname
                        </th>
                        <td th:text="${address.surname}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{gender}">
                            genderId
                        </th>
                        <td th:text="#{'gender.' + ${address.genderId}}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{street}">
                            street
                        </th>
                        <td th:text="${address.street}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{addressaddition}">
                            addressaddition
                        </th>
                        <td th:text="${address.addressaddition}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{postcode}">
                            postcode
                        </th>
                        <td th:text="${address.postcode}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{city}">
                            city
                        </th>
                        <td th:text="${address.city}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{country}">
                            country
                        </th>
                        <td th:text="${address.country}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/alma/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>