<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron"/>

<div class="container">
    <div class="ui-g">

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile centered">
                <h3 style="height:1.2em;" th:text="#{sap.collect.open}"></h3>
                <p style="height:6em;" th:text="#{sap.collect.open.short}"></p>
                <form th:action="@{/alma/his/address}" method="get">
                    <div class="form-group">
                        <label for="zimkennung" th:text="#{zim.id}"></label>
                        <input name="zimkennung" id="zimkennung" type="text" >
                    </div>
                    <input type="submit" class="btn btn-primary" th:value="#{invoices.collect.open}"/>
                </form>
            </div>
        </div>
</div>
</body>
</html>