<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron"/>

<div class="container">
    <div class="ui-g">

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile centered">
                <h3 style="height:1.2em;" >Finished</h3>
                <p style="height:6em;">The job has finished</p>
            </div>
        </div>
</div>
</body>
</html>