<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron"/>

<div class="container-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <h2 th:text="#{bubi.order.line.overview}"></h2>
                <p th:text="#{bubi.order.line.overview.short}"></p>
            </div>
        </div>
    </div>
    <form th:action="@{/alma/bubi/orderline/pack}" method="post">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="tile">
                <h2 style="height:1.2em;" th:text="#{bubi.order.line.overview.core.data}"></h2>

                    <table id="overview" class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{pack}">Packen</th>
                            <th th:text="#{bubi.order.line.Id}">Auftrags-ID</th>
                            <th th:text="#{status}">Status</th>
                            <th th:text="#{bubi.order.line.bubi}">Buchbinder</th>
                            <th th:text="#{bubi.order.line.fund}"> Etat</th>
                            <th th:text="#{bubi.order.line.price}">Preis</th>
                            <th th:text="#{alma.po.line.id}">Alma-Bestellposten-ID</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="orderline: ${orderlines}">
                            <th>
                                <input type="checkbox" name="cers"
                                       th:value="*{orderline.almaPoLineId}"/>
                            </th>
                            <th th:text="*{orderline.collection} + ': ' + *{orderline.shelfmark} + ' (' + *{orderline.counter} + ')'"></th>
                            <td th:text="*{orderline.status}"></td>
                            <td th:text="*{orderline.vendorId}"></td>
                            <td th:text="*{orderline.fund}"></td>
                            <td th:text="*{#numbers.formatDecimal(orderline.price, 0, 'POINT', 2, 'COMMA') + ' EUR'}"></td>
                            <td th:text="*{orderline.almaPoLineId}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-primary" th:value="#{pack}"/>

            </div>
        </div>
    </div>
    </form>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/alma/bubi/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#overview').DataTable();
    } );
</script>
</body>
</html>