<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <h1 style="height:1.2em;" th:text="#{pack.success}"></h1>
                <p th:text="#{bubi.order.pack.success}"></p>
                <p th:text="#{bubi.order.pack.po.id.description}"></p>
                <p th:text="${bubiOrder.almaPoLineNumber}"></p>
                <p th:text="#{bubi.order.pack.content}"></p>
                <ul>
                    <li th:each="orderline: ${bubiOrder.bubiOrderLines}">
                    <span th:text="*{orderline.almaPoLineId}"></span>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/alma/bubi/orderline}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>