<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="jumbotron">
    <div class="container">
        <h1 th:text="#{bubi.coredata.edit}">Stammdaten bearbeiten</h1>
    </div>
</div>

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <form th:action="@{/alma/bubi/coredataEdit}" th:object="${coredata}" method="post">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="form-group">
                                <label for="collection" th:text="#{collection}"></label>: <label for="shelfmark"
                                                                                                 th:text="#{shelfmark}"></label>
                                <input id="collection" type="text" style="width: 45px" th:field="*{collection}"> <input
                                    id="shelfmark" type="text" style="width: 200px" th:field="*{shelfmark}">
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-6">
                            <div class="form-group">
                                <label for="active" th:text="#{active}"></label>
                                <input id="active" type="checkbox" name="active" th:field="*{active}"/>
                            </div>
                        </div>
                        <div class="ui-g-6">
                            <div class="form-group">
                                <label for="isFf" th:text="#{is.ff}"></label>
                                <input id="isFf" type="checkbox" name="isFf" th:field="*{isFf}"/>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="form-group">
                                <label for="minting" th:text="#{minting}"></label>
                                <input id="minting" style="width: 50em;" type="text" th:field="*{minting}">
                            </div>
                        </div>
                    </div>
                    <div class="ui-g" style="text-align: left;">
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <label for="color" th:text="#{color}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                        <input id="color" type="text" th:field="*{color}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <label for="binding" th:text="#{binding}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                        <input id="binding" type="text" th:field="*{binding}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <label for="year" th:text="#{year}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                        <input id="year" type="text" th:field="*{year}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="volume" th:text="#{volume}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="volume" type="text" th:field="*{volume}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="issue" th:text="#{issue}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="issue" type="text" th:field="*{issue}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="edition" th:text="#{edition}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="edition" type="text" th:field="*{edition}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="part" th:text="#{part}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="part" type="text" th:field="*{part}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="bindingsFollow" th:text="#{bindings.follow}"></label>

                                    </div>
                                    <div class="ui-g-9">
                                <input id="bindingsFollow" type="text" th:field="*{bindingsFollow}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="cover" th:text="#{cover}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="cover" type="text" th:field="*{cover}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="form-group">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                <label for="bubiData" th:text="#{bubi}"></label>
                                    </div>
                                    <div class="ui-g-9">
                                <input id="bubiData" type="text" th:field="*{bubiData}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <div class="form-group">
                                <label for="comment" th:text="#{comment}"></label>
                                <textarea cols="80" rows="3" id="comment" type="text" th:field="*{comment}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <input type="submit" class="btn btn-primary" th:value="#{save}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <a th:href="@{/alma/bubi/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>