<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="general :: generalHead" />
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron" />

<div class="container">
    <div class="ui-g">

        <div class="ui-g-12 ui-md-12 ui-lg-10 ui-lg-offset-1">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{sap.run.result}"></h3>
                <p th:text="#{sap.run.result.short}"></p>
                <table class="table table-hover">
                    <tr>
                        <th th:text="#{sap.result.runId}"></th>
                        <td th:text="${almaExportRun.identifier}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{sap.result.number.invoices}"></th>
                        <td th:text="${almaExportRun.numberInvoices}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{sap.result.number.invoicelines}"></th>
                        <td th:text="${almaExportRun.numberInvoiceLines}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{sap.result.number.successful.sapdata}"></th>
                        <td th:text="${almaExportRun.successfullSapData}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{sap.result.number.missedsapdata}"></th>
                        <td th:text="${almaExportRun.missedSapData}"></td>
                    </tr>
                </table>
                <table class="table table-striped">
                    <tr th:each="sapDatum : ${almaExportRun.sapData}">
                        <td th:text="${sapDatum.creditor}"></td>
                        <td th:text="${sapDatum.invoiceAmount}"></td>
                        <td th:text="${sapDatum.currency}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="general :: footer" />

</body>
</html>