<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="general :: generalHead" />
<body>
<div th:replace="general :: jumbotron" />

<div class="container">
    <form th:action="@{invoicesByDate}" method="post">
    <div>
        <label for="dateToSearch" th:text="#{day.to.collect}"></label>
        <input id="dateToSearch" type="date" name="date">
    </div>
        <input type="submit" class="btn btn-primary" th:value="#{invoices.collect.bydate}"/>
    </form>
</div>
    <footer th:replace="general :: footer" />

</body>
</html>