<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron" />

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{files.heading.home}"></h3>
                <p style="height:8em;" th:text="#{files.home.short}"></p>
                <p><span th:text="${almaExportRun.numberHomeSapData}"></span> <span th:text="#{files.entries}"></span></p>
                <p>
                    <a target="_blank" th:href="@{/alma/downloadFile/home/{owner}/{date}(owner=${almaExportRun.invoiceOwner},date=${#dates.format(almaExportRun.desiredDate, 'yyyy-MM-dd')})}">
                        <button th:disabled="${almaExportRun.numberHomeSapData} == 0" class="btn btn-primary" th:text="#{files.download}"></button>
                    </a>
                </p>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{files.heading.foreign}"></h3>
                <p style="height:8em;" th:text="#{files.foreign.short}"></p>
                <p><span th:text="${almaExportRun.numberForeignSapData}"></span> <span th:text="#{files.entries}"></span></p>

                <p>
                    <a target="_blank" th:href="@{/alma/downloadFile/foreign/{owner}/{date}(owner=${almaExportRun.invoiceOwner},date=${#dates.format(almaExportRun.desiredDate, 'yyyy-MM-dd')})}">
                        <button th:disabled="${almaExportRun.numberForeignSapData} == 0" class="btn btn-primary" th:text="#{files.download}"></button>
                    </a>
                </p>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{upload.excel}"></h3>
                <p style="height:6em;" th:text="#{upload.excel.short}"></p>
                <form th:action="@{alma/invoicesByDate}" method="post">
                    <div>
                        <label for="excelUpload" th:text="#{upload.excel.choose}"></label>
                        <input id="excelUpload" type="file" th:name="file">
                    </div>

                    <input class="btn btn-primary" th:type="submit" value="Import"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>