<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="general :: generalHead" />
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron" />

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <a th:href="@{/alma/sap/start}">
                <div class="tile clickable centered" style="cursor:pointer;">
                    <h3 style="height:2.4em;" th:text="#{sap}">></h3>
                    <p style="height:4em;" th:text="#{sap.short}"></p>
                </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <a th:href="@{/alma/shibboleth/start}">
                <div class="tile clickable centered">
                <h3 style="height: 1.2em;" th:text="#{shibboleth}"></h3>
                <p  style="height: 8em;" th:text="#{shibboleth.short}"></p>
            </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <a th:href="@{/alma/bubi/start}">
            <div class="tile clickable centered">
                <h3 style="height: 1.2em;" th:text="#{bubi}"></h3>
                <p  style="height: 8em;" th:text="#{bubi.short}"></p>
            </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <a th:href="@{/alma/his/start}">
                <div class="tile clickable centered">
                    <h3 style="height: 1.2em;" th:text="#{his}"></h3>
                    <p  style="height: 8em;" th:text="#{his.short}"></p>
                </div>
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>