<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="general :: generalHead" />
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron" />

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="tile">
                <h3 th:text="#{settings}"></h3>
                <p th:text="#{settings.short}"></p>
                <a th:href="@{/usersettings}"><button type="button" class="btn btn-primary">Einstellungen</button></a>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="tile">
                <h3 th:text="#{protokoll}"></h3>
                <p th:text="#{protokoll.short}"></p>
                <a href="/protokoll"><button type="button" class="btn btn-primary">Zum Ausleihprotokoll</button></a>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-md-offset-3">
            <div class="tile">
                <h3>Logout</h3>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                    <button type="button" class="btn btn-danger">
                        Logout
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="general :: footer" />

</body>
</html>