<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="jumbotron">
    <div class="container">
        <h1 th:text="#{bubi.coredata.edit}">Stammdaten bearbeiten</h1>
    </div>
</div>

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile" style="text-align: left;">
                <form th:action="@{/alma/bubi/coredata}" th:object="${coredata}" method="post">
                    <h2 th:text="#{bubi.coredata.for.item}"></h2>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="collection" th:text="#{collection}"></label>: <label for="shelfmark"
                                                                                             th:text="#{shelfmark}"></label>
                        </div>
                        <div class="ui-g-6">
                            <input id="collection" type="text" style="width: 60px" th:field="*{collection}"> <input
                                id="shelfmark" type="text" style="width: 240px" th:field="*{shelfmark}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="almaMmsId" th:text="#{alma.mms.id}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="almaMmsId" type="text" th:field="*{almaMmsId}">
                        </div>
                        <div class="ui-g-2">
                            <label for="almaHoldingId" th:text="#{alma.holding.id}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="almaHoldingId" type="text" th:field="*{almaHoldingId}">
                        </div>
                    </div>
                    <h2 th:text="#{bubi.coredata.for.order}"></h2>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="active" th:text="#{active}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="active" type="checkbox" name="active" th:field="*{active}"/>
                        </div>
                        <div class="ui-g-2">
                            <label for="isFf" th:text="#{is.ff}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="isFf" type="checkbox" name="isFf" th:field="*{isFf}"/>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="minting" th:text="#{minting}"></label>
                        </div>
                        <div class="ui-g-10">
                            <input id="minting" style="width: 50em;" type="text" th:field="*{minting}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="color" th:text="#{color}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="color" type="text" th:field="*{color}">
                        </div>
                        <div class="ui-g-2">
                            <label for="binding" th:text="#{binding}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="binding" type="text" th:field="*{binding}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="year" th:text="#{year}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="year" type="text" th:field="*{year}">
                        </div>
                        <div class="ui-g-2">
                            <label for="volume" th:text="#{volume}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="volume" type="text" th:field="*{volume}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="issue" th:text="#{issue}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="issue" type="text" th:field="*{issue}">
                        </div>
                        <div class="ui-g-2">
                            <label for="edition" th:text="#{edition}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="edition" type="text" th:field="*{edition}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="part" th:text="#{part}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="part" type="text" th:field="*{part}">
                        </div>
                        <div class="ui-g-2">
                            <label for="bindingsFollow" th:text="#{bindings.follow}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="bindingsFollow" type="text" th:field="*{bindingsFollow}">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="cover" th:text="#{cover}"></label>
                        </div>
                        <div class="ui-g-4">
                            <input id="cover" type="text" th:field="*{cover}">
                        </div>
                        <div class="ui-g-2">
                            <label for="bubiData" th:text="#{bubi}"></label>
                        </div>
                        <div class="ui-g-4">
                            <select id="bubiData" type="text" th:field="*{bubiData}">
                                <option th:each="bubi: ${bubiList}" th:value="${bubi.vendorId} + ' - ' + ${bubi.vendorAccount}" th:text="${bubi.name} + ' (' + ${bubi.campus} + ')'"></option>
                            </select>
                            <input >
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="comment" th:text="#{comment}"></label>
                        </div>
                        <div class="ui-g-8">
                            <textarea cols="80" rows="3" id="comment" type="text" th:field="*{comment}"></textarea>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <input type="submit" class="btn btn-primary" th:value="#{save}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <a th:href="@{/alma/bubi/coredata}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>