<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="container-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <h3 style="height:1.2em;" th:text="#{bubi.coredata.overview}"></h3>
                <p th:text="#{bubi.coredata.overview.short}"></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{is.active}">Aktiv?</th>
                        <th th:text="#{collection}">Standort</th>
                        <th th:text="#{shelfmark}">Signatur</th>
                        <th th:text="#{minting}">Prägung</th>
                        <th th:text="#{color}">Farbe</th>
                        <th th:text="#{alma.mms.id}">MMS ID</th>
                        <th th:text="#{alma.holding.id}">Holding ID</th>
                        <th th:text="#{bubi}">Buchbinder</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="datum : ${coredataList}">
                        <td th:if="*{datum.active}">
                            <span th:text="#{active}"></span>
                        </td>
                        <td th:unless="*{datum.active}">
                            <span th:text="#{inactive}"></span>
                        </td>
                        <td th:text="*{datum.collection}"></td>
                        <td th:text="*{datum.shelfmark}"></td>
                        <td th:text="*{datum.minting}"></td>
                        <td th:text="*{datum.color}"></td>
                        <td th:text="*{datum.almaMmsId}"></td>
                        <td th:text="*{datum.almaHoldingId}"></td>
                        <td th:text="*{datum.bubiData}"></td>
                        <td>
                            <a th:href="@{/alma/bubi/coredata/edit(collection=*{datum.collection}, shelfmark=*{datum.shelfmark})}"><button class="btn btn-warning" th:text="#{edit}"></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile">
                <a th:href="@{/alma/bubi/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>