<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div class="jumbotron">
    <div class="container">
        <h1 th:text="${platform.host}">Shibboleth-Einstellugnen</h1>
        <p>Konfigurationen, aus denen der Linksolver-Wrapper WAYFless URLs für Shibboleth-Zugänge erzeugen kann</p>
    </div>
</div>

<div class="container">
    <div class="ui-g">
    <div class="tile centered">
            <div class="ui-g-12">
                <form method="post" th:action="@{/alma/shibboleth/save}" th:object="${platform}">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <label for="host" th:text="#{shibboleth.provider.name}">Platform</label>
                        </td>
                        <td>
                            <p>
                                <input size="60" type="text" style="border: none;" id="host" th:field="*{host}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="isSpSideWayfless" th:text="#{shibboleth.provider.wayfless}">SP-side WAYFless?</label>
                        </td>
                        <td>
                            <input id="isSpSideWayfless" type="checkbox" th:field="*{spSideWayfless}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="entityIdString">Name des EntityID-Paramters</label>
                        </td>
                        <td>
                            <p>
                                <input size="60" type="text" style="border: none;" id="entityIdString"
                                       th:field="*{entityIdString}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="targetString">Name des Target-Paramaters</label>
                        </td>
                        <td>
                            <input size="60" type="text" style="border: none;" id="targetString"
                                   th:field="*{targetString}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="shire"> Shibboleth-URL des Service-Providers</label>
                        </td>
                        <td>
                            <input size="60" type="text" style="border: none;" id="shire"
                                   th:field="*{shire}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="providerId">ID des Service-Providers</label>
                        </td>
                        <td>
                            <input size="60" type="text" style="border: none;" id="providerId"
                                   th:field="*{providerId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="additionalUrlParameter">Zusätzliche URL-Parameeter</label>
                        </td>
                        <td>
                            <input size="60" type="text" style="border: none;" id="additionalUrlParameter"
                                   th:field="*{additionalUrlParameters}"/>
                        </td>
                    </tr>
                </table>
                    <input type="submit" class="btn btn-success btn-sm"  th:value="#{save}">
                </form>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/alma/shibboleth/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>