<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: generalHead"/>
<body>

<nav th:replace="general :: navbar"></nav>

<div th:replace="general :: jumbotron"/>

<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.outbox}"></h3>
                <p style="height: 3em;" th:text="#{bubi.outbox.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/orderline/new}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.order.line.new}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/orderline}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.order.line.overview}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/orderline(status=NEW)}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.new.order.open}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/printBubiOrder}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.print.order}"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.inbox}"></h3>
                <p style="height: 3em;" th:text="#{bubi.inbox.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/inbox}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.inbox}"></button>
                    </a>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.coredata}"></h3>
                <p style="height: 3em;" th:text="#{bubi.coredata.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/coredata}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.coredata.overview}"></button>
                    </a>
                </div>
                <div id="dropzone">
                    <form th:action="@{alma/bubi/coredata/import}" class="dropzone needsclick" method="post"
                          enctype="multipart/form-data" id="file-upload">

                        <div class="dz-message needsclick">
                            <button type="button" class="dz-button" th:text="#{upload.excel.choose}">Drop files here or
                                click to upload.
                            </button>
                            <br/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.data}"></h3>
                <p style="height: 3em;" th:text="#{bubi.data.edit.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/bubiData}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.data.overview}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/bubiData}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.data.overview}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/newBubiData}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.data.new}"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.search}"></h3>
                <p style="height: 3em;" th:text="#{bubi.search.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/search/signature}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.search.signature}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/search/openComplaints}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.search.open.complaints}"></button>
                    </a>
                </div>
                <div style="padding:10px;">
                    <a th:href="@{/alma/bubi/search/bubiOrderNumber}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.search.order.number}"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="tile">
                <h3 style="height: 1.2em;" th:text="#{bubi.statistics}"></h3>
                <p style="height: 3em;" th:text="#{bubi.statistics.short}"></p>
                <div style="padding:10px;">
                    <a th:href="@{/alma/alma/bubi/statistics}">
                        <button type="button" class="btn btn-primary" th:text="#{bubi.statistics.order}"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="tile centered">
                <a th:href="@{/alma/start}">
                    <button class="btn btn-primary">Zurück</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    Dropzone.autoDiscover = false;

    $("#file-upload").dropzone({
        success : function(file, response) {
            toastr.options.timeout = 0;
            if (response.numberOfErrors === 0) {
                toastr.success('Datei ' + file.name + ' erfolgreich hochgeladen. ' + response.numberOfResponses + ' Rechnungsdaten wurden erfolgreich importiert.');
            } else if (response.numberOfErrors === 1) {
                toastr.warning('Beim Hochladen der Datei ' + file.name + ' ist ' + response.numberOfErrors + ' Fehler aufgetreten.');
            } else {
                toastr.warning('Beim Hochladen der Datei ' + file.name + ' sind ' + response.numberOfErrors + ' Fehler aufgetreten.');
            }
        }
    });
</script>
</body>
</html>